:root {

  --background-start-rgb: 241 234 242;
  --background-end-rgb: 224 187 226;
  --svg-color: rgb(50 172 23);
  --svg-color-second: #af69f099;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  font-size: 14px;
}

a {
  color: inherit;
  text-decoration: none;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.container {
  height: calc(100vh - 100px);
 
}

.motionWrapper {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: #af69f0;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  z-index: 50;
}

.motionWrapperEnd {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: #af69f0;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  z-index: 45;
  bottom: 0;
}

.motionPathName {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  color: #fff;
  cursor: default;
  width: fit-content;
  height: fit-content;
  z-index: 50;
  font-size: 42px;
}



