.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
  padding-inline: 16px;
  height: 100%;

  @media(max-width: 750px) {
    flex-direction: column;
    gap: 10px;
  }
}

.imgContainer {
  height: 60%;
  width: 50%;
  position: relative;
  margin-right: 10px;

  @media(max-width: 750px) {
    width: 80%;
    height: 50%;
  }
}

.imgContainer img {
  object-fit: cover;
  border-radius: 50px;
  width: 50%;

  @media(max-width: 750px) {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 0;
  }

  @media(max-width: 550px) {
    width: 80%;;
  }
}

.textContainer {
  height: 60%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;

  @media(max-width: 750px) {
    width: 100%;
    height: 50%;
  }
}

.title {
  color: #4b1f59;
}

.desc {
  color: #884a9a;
  margin: 10px 0 20px;
}

.buttons {
  display: flex;
  gap: 10px;
}

.button {
  background-color: #af69f0ad;
  color: #fff;
  border-radius: 10px;
  padding: 15px 25px;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.motionWrapper {
  height: 100%;
}
