.navbar {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 290px;
  padding-left: 16px;
  max-width: 1450px;
  margin: 0 auto;

  @media(max-width: 1010px) {
    gap: 140px;
  }
  @media(max-width: 860px) {
    gap: 70px;
  }
  @media(max-width: 780px) {
    gap: 40px;
  }
}

.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  padding: 6px 8px;
  background-color: #af69f0ad;
  color: #fff;
  border-radius: 10px;
  font-size: 18px;
  
  @media(max-width: 760px) {
    display: none;
  }
}

.name {
  background-color: #fff;
  color: #9847e4ad;
  border-radius: 6px;
  padding: 5px 8px;
}

.navLinks {
  display: flex;
  gap: 15px;
  color: #9847e4ad;
  font-size: 18px;

  @media(max-width: 760px) {
    display: none;
  }
}

.navLinks a {
  padding: 5px 10px;
}

.navLink {
  background-color: #af69f0ad;
  color: #fff;
  border-radius: 10px;
}

.line {
  position: fixed;
  top: 0;
  right: 0;
  width: 200px;
  height: 200px;
}

.line a {
  position: absolute;
  display: block;
  width: 200%;
  left: -20%;
  top: -30%;
  z-index: 901;
  cursor: pointer;
  text-align: center;
  background-color: #af69f0ad;
  color: #f0f0f0;
  font-size: 13px;
  padding: 0;
  text-decoration: none;
  font-weight: 700;
  box-shadow: -2px 3px 1px rgba(138, 83, 136, 0.23);
  opacity: 1;
  text-transform: uppercase;
  transform: translate3d(0, 0, 0) rotate(40deg);
  transform-origin: 0 0;
  height: 44px;
  line-height: 47px;
  transition: background-color .2s ease-out 0s;

  @media(max-width: 530px) {
    left: 2px;
    top: -48%;
  }
}

.line a:hover {
  background-color: #8030cbad;
    color: #fff;
}

.button {
  width: 40px;
  height: 32px;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  z-index: 40;
  position: relative;
  background-color: transparent;
  z-index: 50;
  position: relative;
}

.btnLine {
  height: 4px;
  width: 100%;
  background-color: #000;
  border-radius: 5px;
  transform-origin: left;
}

.mobileMenu {
  display: none;
    @media(max-width: 760px) {
      display: block;
    }
}

.mobileList {
  position: absolute;
  z-index: 40;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: purple;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-size: 20px;
  font-weight: bold;
}